* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px !important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: rgb(5, 59, 160);
    /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    /* margin-bottom: 20px; */
}

h1 {
    color: rgb(241, 241, 241);
    font-weight: 500px;
    font-size: 30px;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#cesta-carrito {
    border: none;
    color: rgb(16, 87, 153);
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}

#cesta-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(21, 29, 109);
}

#cesta-carrito:focus {
    outline: none;
}

#entrada-contenedor {
    display: grid;
    gap: 1rem;
    max-width: 60rem;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}

.card {
    max-width: 30%;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

select {
    display: inline;
    text-align: center;
    border: 1px solid lightskyblue;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.modal-carrito {
    position: relative;
    background-color: rgb(248, 248, 248);
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: rgb(53, 35, 158);
    padding-bottom: 15px;
    padding-left: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.modal-carrito #btn-cerrar-carrito {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(32, 13, 138) !important;
    border: none;
}

.modal-carrito #btn-cerrar-carrito:hover {
    cursor: pointer;
}

.modal-carrito #btn-cerrar-carrito:focus {
    outline: none;
}

.modal-carrito .producto-precio {
    padding-top: 10px;
}

/* --------------- card ---------------------------*/

.card .card-image .card-title {
    color: rgb(255, 255, 255);
    position: unset;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    border: solid 1px white;
    text-align: center;
    text-shadow: 2px 2px rgb(40, 40, 141);
    margin: 0.8rem;
    background-color: rgb(30, 30, 133);
}


.card {
    background-color: rgb(5, 59, 160);
}

.entradaEnCarrito {
    border-left: 5px solid rgb(5, 59, 160);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
  
}

.entradaEnCarrito:hover {
    border-left: 5px solid rgb(65, 180, 225);
}

.boton-eliminar {
    background-color: rgb(5, 59, 160);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;

}

.boton-eliminar:focus {
    outline: none;
}

.card-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    padding: 0.5rem;
    text-align: center;
    color: white;
}

.Parrafo {
    font-size: x-large;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(35, 35, 116);
    padding-bottom: 5rem;
}
.logo{
    width: 20rem;
    padding-right: 14rem;
}

#boton{
    padding: 0.5rem;
    margin-top: 1rem ;
    background-color: rgb(5, 59, 160);
    color: white;
    border-radius: 5px;
}
.precioEntrada{
 font-family: 'Times New Roman', Times, serif;

font-size: larger;

margin-right: 1rem;
padding: 0.5rem;
}
#boton:hover{
    background-color: rgb(69, 127, 182);
    transition: 1s;
}